.header{
	height: 100px;
	background-color: darkred;
}

.blog{
    float: left;
	width: 70%;
	height: 150px;
	background-color: green;
}

.contact{
   float: left;
	width: 30%;
	height: 150px;
	background-color: blue;
}

.item1{
    float: left;
	width: 33.33%;
	height: 100px;
	background-color: teal;
}

.item2{
    float: left;
	width: 33.33%;
	height: 100px;
	background-color: dimgray;
}

.item3{
    float: left;
	width: 33.33%;
	height: 100px;
	background-color: coral;
}

.footer{

    height: 100px;
    background-color: black;
    clear: both;
  }